@font-face {
    font-family: 'Gotham-Bold';
    src: url("fonts/Gotham-Bold.otf");
  }
  
  @font-face {
    font-family: 'Gotham-Rounded-Light';
    src: url("fonts/Gotham\ Rounded\ Light.otf");
  }

  @font-face {
    font-family: 'Helvetica-Neue-Medium';
    src: url("fonts/HelveticaNeue.ttc");
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Bold';
    src: url("fonts/HelveticaNeue.ttc");
    font-weight: 700;
  }


/* nav links */
.nav-links li a {
    color: #888888;
    font-size: 0.8em;
    text-decoration: none;
}

.footer-links li a {
    color: #888888;
}

.nav-links li i {
    font-size: 1.3em;
}

.nav-links .home a {
    color: #d35266;
}

.nav {
    background: #383838;
    padding: 5px;
    font-family: 'Gotham-Rounded-Light';
    font-size: 0.8em;
}
.nav-content {
    display: flex;
    width: 90%;
    margin: auto;
    color: #ffffff;
}

.nav-links {
    align-self: center;
}

.nav-btn {
    align-self: center;
}

.nav-btn button{
    background: #d35266;
    color: #ffffff;
    padding: 5px;
    border: 0px;
}

.profile{
    margin-left: auto;
}

.all{
    margin-left: auto;
    color: #d35266;
}

.nav-icon img {
    height: 15px;
    border: none;
}

.prof-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.header-content {
    background: #d35266;
    color: #ffffff;
    text-align: center;
    padding: 40px;
}

.header-content-serch{
    text-align: left;
    padding: 20px;
    padding-left: 80px;
}

.header-content h1 {
    font-size: 3em;
    font-family: 'Gotham-bold';
}

.btn-search {
    background: #383838;
    width: 100px;
    border: none;
    height: 50px;
}

.inpt-txt {
    border: none;
    height: 50px;
    color: #888888;
}

.inpt-txt-spcl {
    width: 20%;
}

.ad-content {
    display: flex;
    width: 80%;
    margin: auto;
}

.ad-content-angle {
    border: 1px solid #888888;
    color: #d35266;
    border-radius: 50%;
}

.ad-content-txt h4 {
    color: #d35266;
}

.ad-content-txt p{
    font-size: 0.8em;
}

.ad-content-btns button {
    background-color: #d35266;
    color: #ffffff;
}

.ad-content-btns .btn1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ad-content-btns .btn2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ad-content-angles {
    position: relative;
    margin-left: 227px;
    bottom: 32px;
    font-size: 1em;
    background: #383838;
    width: 17%;
    text-align: center;
    color: #d35266;
}

.main-cont-txt p small{
    font-size: 0.9em;
}

.card-tlte {
    font-size: 0.8em;
}

.card-money {
    color: #d35266;
}

.card-plus i {
    font-size: 1.6em;
}

.serch-paragraph, .footer-colored-p {
    color: #d35266;
}

.serch-btn {
    color: white;
    background: #d35266;
    border-radius: 3px;
}

.footer-h1 {
    font-family: "Helvetica-Neue-Bold";
    font-size: 1.2rem;
}

.footer-icon2 i {
    color: #888888;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1024px) {
    .nav {
        font-size: 0.6em;
    }

    .inpt-txt-spcl {
        width: 25%;
    }

    .ad-content {
        width: 93%;
    }

    .main-cont-txt {
        font-size: 0.8em;
    }

    .card-tlte, .card div p{
        font-size: 0.7em;
    }
    footer {
        font-size: 0.65em;
    }
    .Search-txt {
        font-size: 0.8em;
    }

    aside {
        font-size: 0.6em;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-logo img{
        height: 30px;
        width: 30px;
    }

    .nav {
        padding: 1px;
        position: fixed;
        top: 0;
        width: 100%;
        font-size: 0.5em;
    }

    .nav-icon a {
        margin-top: 3px;
    }

    .ad-content {
        display: block;
    }

    .nav-btn button{
        padding: 2px;
    }

    .ad-content-angles {
        margin-left: 170px;
    }

    .main-cont-txt {
        font-size: 0.6em;
    }

    .serach-img img {
        width: 100%;
    }

}

@media only screen and (max-width: 320px) {
    .nav {
        font-size: 0.1em;
    }

    .header-logo img {
        height: 25px;
    }
    .ad-content-angles {
        margin-left: 112px;
    }
}

